extends header
block content

    .loader
    .w3-container
      h2 Sessions
      form(action="/datafiles/" method="GET", enctype="multipart/form-data")
      table.w3-table-all.w3-hoverable
        thead
          tr.w3-light-grey
            th Datafile Id
            th File Name
            th Status
            th Datafile Size
            th Used Space
            th Timestamp
            th Tablespace Id
          each element in tabelas
                tr
                    td=element.ID_DATAFILE
                    td=element.FILE_NAME
                    td=element.STATUS
                    td=element.DT_SIZE
                    td=element.USED_SPACE
                    td=element.TIMESTAMP
                    td=element.ID_TABLESPACE