extends header
block content

    .loader
    .w3-container
      h2 Database
      form(action="/database/" method="GET", enctype="multipart/form-data")
      table.w3-table-all.w3-hoverable
        thead
          tr.w3-light-grey
            th Database Id
            th Database Name
            th Operating System
            th Number CPU
            th Uptime
          each element in tabelas
                tr
                    td=element. ID_DB
                    td=element.NAME_DB
                    td=element.OPERATING_SYSTEM
                    td=element.NUM_CPU
                    td=element.UPTIME