extends header
block content

    .loader
    .w3-container
      h2 Users
      form(action="/users/" method="GET", enctype="multipart/form-data")
      table.w3-table-all.w3-hoverable
        thead
          tr.w3-light-grey
            th User id
            th User Name
            th Account Status
            th Expiration Date
            th Profile
            th User Type
            th Created Data
            th Tablespace Id
          each element in tabelas
                tr
                    td=element.ID_USER
                    td=element.USERNAME
                    td=element.ACCOUNT_STATUS
                    td=element.EXPIRATON_DATE
                    td=element.PROFILE
                    td=element.USER_TYPE
                    td=element.CREATED_DATA
                    td=element.TABLESPACE